/*global css:*/
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: radial-gradient(circle, rgba(203,214,255,1) 0%, rgba(251,227,255,1) 44%, rgba(255,232,232,1) 100%);
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px; 
}
.nav-container {
  margin: auto 3vw auto auto;
}
.nav-icon {
  color: #fff
}
a {
  text-decoration: none;
}
